.header {
    display: flex;
    position: fixed;
    flex-direction: column;
    inset: 0 79% 0 0;
    background-color: black;
    backdrop-filter: blur(2rem);
    z-index: 1000;

}

.header-mobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    inset: 0 95% 0 0;
    background-color: black;
    z-index: 1000;
}

nav .ul-item {
    display: flex;
    flex-direction: column;
    margin-block: 0.5rem;
    list-style: none;
}

nav .ul-item.oicon a {
    display: none;
}

nav .ul-item.oicon li::after {
    content: '';
    position: absolute;
    width: 1%;
    height: 4%;
    background-color: black;
    right: 0;
}

nav .ul-item li {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    cursor: pointer;
    padding-block: 1.2rem;
    margin-block: 0.1rem;
    font-family: 'Kanit', sans-serif;
}

nav .ul-item li::after {
    content: '';
    width: 0;
    left: 0;
    height: 6px;
    background: linear-gradient(90deg, rgba(102,102,102,1) 15%, rgba(174,175,185,1) 69%);
    font-family: 'Kanit', sans-serif;
    transition: width 1.2s ease;
}

nav .ul-item li:hover::after {
    width: 100%;
    /* Expand the width on hover only in the active state */
}

nav .ul-item.oicon li::after {
    content: '';
    position: absolute;
    width: 1%;
    height: 4%;
    background-color: black;
    right: 0;
}
nav .ul-item li::after {
    content: '';
    width: 0;
    left: 0;
    height: 6px;
    background: linear-gradient(90deg, rgba(102,102,102,1) 15%, rgba(174,175,185,1) 69%);
    font-family: 'Kanit', sans-serif;
    transition: width 1.2s ease;
}

nav .ul-item li .icon {
    color: white;
    margin-inline: 1rem;
    font-size: 30px;
}

nav .ul-item li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-left: 3px solid black;
    padding-left: 2rem;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
}

.menu-icon {
    margin-inline: 1rem;
}

.menu-icon .menu {
    color: white;
    margin-block: 1rem;
    cursor: pointer;
    font-size: 30px;

}

nav .ul-item li:hover {
    transition: 1s ease;
}

@media (max-width:900px) {
    .header-mobile {
        inset: 0 92% 0 0;
        justify-content: center;

    }

    nav .ul-item {
        display: none;
    }

    nav .ul-item.oicon {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    nav .ul-item li .icon {
        font-size: clamp(1rem,2vw + 1rem,4rem);
    }
}
